<a href="https://colab.research.google.com/github/kummari-bharath/PySpark/blob/main/Basics_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f620254b92ae4b488f5dda33587d200b2cb3fa3669635b76f840ca0ffd7d58ad
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [7]:
from pyspark.sql import *
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

spark = SparkSession.builder.appName('Pyspark').getOrCreate()

data = [(422,'Bharath','ECE',47200),(402,'Neeraj','ECE',59200),(412,'Shayam','ECE IDP',72000),(404,'Preetham','ECE IDDMP',47200),
        (408,'Prashanth','LE',70000),(417,'Anvesh','ECE IDP',47200)]

columns=['id','Name','Major','Salary']

df = spark.createDataFrame(data , schema=columns)

df.select('id','name','salary').where(df.Salary>50000).show()

df.count()

+---+---------+------+
| id|     name|salary|
+---+---------+------+
|402|   Neeraj| 59200|
|412|   Shayam| 72000|
|408|Prashanth| 70000|
+---+---------+------+

6

In [16]:
df.where((df.Salary>50000) & (df.Major=='ECE')).show()

# renaming the column name
df.withColumnRenamed('Name','Full Name').show()

df.where(df.Major=='ECE').alias("regular").show()

+---+------+-----+------+
| id|  Name|Major|Salary|
+---+------+-----+------+
|402|Neeraj|  ECE| 59200|
+---+------+-----+------+

+---+---------+---------+------+
| id|Full Name|    Major|Salary|
+---+---------+---------+------+
|422|  Bharath|      ECE| 47200|
|402|   Neeraj|      ECE| 59200|
|412|   Shayam|  ECE IDP| 72000|
|404| Preetham|ECE IDDMP| 47200|
|408|Prashanth|       LE| 70000|
|417|   Anvesh|  ECE IDP| 47200|
+---+---------+---------+------+

+---+-------+-----+------+
| id|   Name|Major|Salary|
+---+-------+-----+------+
|422|Bharath|  ECE| 47200|
|402| Neeraj|  ECE| 59200|
+---+-------+-----+------+